body {
	background-color: #33CCFF;
}

.link {
	text-decoration: none;
	color: black;
}

.block {
	text-align: center;

}

.wrap {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu {
	display: flex;
	flex-direction: column;
}

.button {
	padding-bottom: 10px;
}