.text {
	text-align: left;
	font-size: 25px;
}

.text_login {
	margin-top: 0;
	text-align: left;
	margin-bottom: 5px;
}

.text_bio {
	text-align: left;
	margin-top: 0;
	margin-bottom: 5px;
}

.main {
	margin: auto;
	width: 800px;
}

.main__info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 230px;

}

.info {
	width: 500px;
}

.name {
	text-align: left;
}

.item {
	text-align: left;
	cursor: pointer;
	border-radius: 15px;
	border: 0.5px solid grey;
	height: 50px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.link {
	color: black;
	text-decoration: none;
	height: 30px;
}

.img {
	width: 200px;
	height: 210px;
	border-radius: 15px;
	padding-top: 5px;
}

.block__info {
	margin-bottom: 10px;
}

.email {
	display: inline-flex;
	width: 500px;
	height: 24px;
}

.email__text {
	margin-top: 0;
	padding-left: 5px;
	padding-top: 2px;
}

.phone {
	display: inline-flex;
	width: 500px;
	height: 24px;
}

.phone__number {
	margin-top: 0;
	padding-top: 3px;
	padding-left: 5px;
}

.social {
	text-align: right;
	padding-top: 40px;
}

.repos {
	padding-left: 30px;
	padding-right: 30px;
}

.myrepos {
	margin-bottom: 10px;
}

.projects__text {
	text-align: left;
	font-size: 25px;
}

.myprojects__block {
	padding-left: 30px;
	padding-right: 30px;
}

.project {
	border-radius: 15px;
	border: 0.5px solid grey;
	margin-bottom: 5px;
	text-align: left;
	height: 30px;
	padding-left: 10px;
	cursor: pointer;
}

.project__link {
	text-decoration: none;
	color: black;
}

.html {
	margin: 0 0 0 0;
	width: 16px;
	height: 16px;
	background: blue;
	border-radius: 8px;
}

.css {
	margin: 0 0 0 0;
	width: 16px;
	height: 16px;
	background: red;
	border-radius: 8px;
}

.js {
	margin: 0 0 0 0;
	width: 16px;
	height: 16px;
	background: yellow;
	border-radius: 8px;
}

.repolink {
	margin-top: 0;
	margin-bottom: 4px;
	padding-top: 4px;
}

.add__info {
	display: inline-flex;
	opacity: 0.5;
}

@media screen and (min-width: 530px) and (max-width: 850px) {
	.main {
		width: 500px;
	}

	.social {
		text-align: left;
	}

	.img {
		width: 150px;
		height: 150px;
	}

	.info {
		width: 250px;
	}
}

@media screen and (min-width: 300px) and (max-width: 529px) {
	.main {
		width: 270px;
	}

	.social {
		text-align: left;
	}

	.img {
		width: 100px;
		height: 105px;
	}

	.info {
		width: 150px;
		font-size: 11px;
	}

	.item {
		font-size: 11px;
		height: 60px;

	}

	.repos {
		padding-left: 5px;
		padding-right: 5px;
	}

	.list {
		padding-inline-start: 15px;
	}
}
